
@media screen and (max-width: 992px) {

    .bannerAbout {
        width: 90vw;
        border-radius: 15px;
    }

    .about-container {
        width: 90vw;
    }

    .dropdown {
        width: 90%;
    }

}
