.banner {
    border-radius: 25px;
    height: 225px;
    margin: 50px auto;
    position: relative;
    width: 90%;
  }
  
  .banner-img {
    border-radius: 25px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .banner-overlay {
    background-color: #000000;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .banner-txt {
    color: #ffffff;
    font-size: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 992px) {

    .banner {
        height: 150px;
        border-radius: 15px;
        margin: auto;
    }

    .banner-txt {
      font-size: 20px;
      align-self: center;
    }

    .filter-banner {
        border-radius: 15px;
    }

    .slogan-banner {
        font-weight: 500;
        font-size: 1.5em;
        text-align: left;
        width: 80%;
    }

}